@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
@theme {
    --font-sans:
        'Pretendard','Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}
:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0% 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0% 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2586 0.0765 272.65);
  --primary: oklch(0.9688 0.0091 258.34);
  --primary-foreground: oklch(0.5341 0.2572 262.61);
  --secondary: oklch(0.1933 0.0485 273.88);
  --secondary-foreground: oklch(1 0 0);
  --muted: var(--primary);
  --muted-foreground: var(--primary-foreground);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.9688 0.0091 258.34);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.7881 0.142249 180.3789);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--primary);
  --sidebar-foreground: oklch(0.2586 0.0765 272.65);
  --sidebar-primary: oklch(0.9688 0.0091 258.34);
  --sidebar-primary-foreground: oklch(0.5341 0.2572 262.61);
  --sidebar-accent: var(--secondary);
  --sidebar-accent-foreground: var(--secondary-foreground);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.9688 0.0091 258.34);

  /* 쇼핑몰 css */
  --primary-normal:rgba(255, 203, 30, 1);
  --primary-strong:rgba(241, 177, 15, 1);
  --primary-heavy:rgba(202, 133, 4, 1);

  --accent-normal:rgba(248, 103, 63, 1);
  --accent-strong:rgba(247, 76, 37, 1);

  --label-normal-subtler:rgba(57, 57, 57, 0.35);
  --label-normal-subtle:rgba(57, 57, 57, 0.61);
  --label-normal-default:rgba(38, 38, 38, 0.88);

  --label-solid-subtler:rgba(141, 141, 141, 1);
  --label-solid-subtle:rgba(111, 111, 111, 1);
  --label-solid-default:rgba(38, 38, 38, 1);
  --label-solid-strong:rgba(0, 0, 0, 1);

  --border-normal-subtler:rgba(141, 141, 141, 0.08);
  --border-normal-subtle:rgba(141, 141, 141, 0.16);
  --border-normal-default:rgba(141, 141, 141, 0.22);
  --border-normal-strong:rgba(141, 141, 141, 0.52);

  --border-solid-subtler:rgba(250, 250, 250, 1);
  --border-solid-subtle:rgba(244, 244, 244, 1);
  --border-solid-default:rgba(238, 238, 238, 1);
  --border-solid-strong:rgba(168, 168, 168, 1);
  --border-solid-stronger:rgba(38, 38, 38, 1);

  --background-default:rgba(141, 141, 141, 0.16);
  --background-strong:rgba(250, 250, 250, 1);

  --fill-normal-subtler:rgba(141, 141, 141, 0.05);
  --fill-normal-default:rgba(141, 141, 141, 0.08);
  --fill-normal-strong:rgba(141, 141, 141, 0.16);

  --fill-solid-subtler:rgba(250, 250, 250, 1);
  --fill-solid-subtle:rgba(244, 244, 244, 1);
  --fill-solid-default:rgba(238, 238, 238, 1);
  --fill-solid-strong:rgba(224, 224, 224, 1);
  --fill-solid-stronger:rgba(198, 198, 198, 1);
  --fill-solid-strongest:rgba(57, 57, 57, 1);
  
  --status-positive:rgba(0, 191, 64, 1);
  --status-negative:rgba(255, 66, 66, 1);
  --status-good:rgba(46, 144, 250, 1);

  --dim-dimmer-22:rgba(0, 0, 0, 0.22);
  --dim-dimmer-52:rgba(0, 0, 0, 0.52);
}
.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.541 0.281 293.009);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.541 0.281 293.009);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.541 0.281 293.009);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.541 0.281 293.009);

}

@theme inline {
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  
  --color-primary-normal:var(--primary-normal);
  --color-primary-strong:var(--primary-strong);
  --color-primary-heavy:var(--primary-heavy);

  --color-accent-normal:var(--accent-normal);
  --color-accent-strong:var(--accent-strong);

  --color-label-normal-subtler:var(--label-normal-subtler);
  --color-label-normal-subtle:var(--label-normal-subtle);
  --color-label-normal-default:var(--label-normal-default);

  --color-label-solid-subtler:var(--label-solid-subtler);
  --color-label-solid-subtle:var(--label-solid-subtle);
  --color-label-solid-default:var(--label-solid-default);
  --color-label-solid-strong:var(--label-solid-strong);

  --color-border-normal-subtler:var(--border-normal-subtler);
  --color-border-normal-subtle:var(--border-normal-subtle);
  --color-border-normal-default:var(--border-normal-default);
  --color-border-normal-strong:var(--border-normal-strong);

  --color-border-solid-subtler:var(--border-solid-subtler);
  --color-border-solid-subtle:var(--border-solid-subtle);
  --color-border-solid-default:var(--border-solid-default);
  --color-border-solid-strong:var(--border-solid-strong);
  --color-border-solid-stronger:var(--border-solid-stronger);

  --color-background-default:var(--background-default);
  --color-background-strong:var(--background-strong);

  --color-fill-normal-subtler:var(--fill-normal-subtler);
  --color-fill-normal-default:var(--fill-normal-default);
  --color-fill-normal-strong:var(--fill-normal-strong);

  --color-fill-solid-subtler:var(--fill-solid-subtler);
  --color-fill-solid-subtle:var(--fill-solid-subtle);
  --color-fill-solid-default:var(--fill-solid-default);
  --color-fill-solid-strong:var(--fill-solid-strong);
  --color-fill-solid-stronger:var(--fill-solid-stronger);
  --color-fill-solid-strongest:var(--fill-solid-strongest);
  
  --color-status-positive:var(--status-positive);
  --color-status-negative:var(--status-negative);
  --color-status-good:var(--status-good);

  --color-dim-dimmer-22:var(--dim-dimmer-22);
  --color-dim-dimmer-52:var(--dim-dimmer-52);
}
@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
    
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet-active{
    @apply !bg-label-solid-default;
}
}
